html, body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    }

/* OVERALL GRID */
.main-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    background-color: black;
    
    grid-template-columns: [sidebar] 1fr [main] 6fr;
    grid-template-rows: [header] 1fr [body] 7fr [footer] 1fr;
    grid-template-areas:
      "header-bar header-bar header-bar"
      "sidebar main-content main-content"
      "sidebar footer footer"
  }

.main-header-content {
    border-radius: 10px;
    background-color: #003b88;
    justify-content: center;
    align-content: center;
    grid-area: header-bar;
}

.main-title-text {
    color: white;
    font-size: 70px;
}

.text {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sidebar {
    border-radius: 10px;
    background-color: #3f3f3f;
    grid-area: sidebar;
}

/* MAIN CONTENT */
.main-content {
    border-radius: 10px;
    display: grid;
    grid-area: main-content;
}

.main-content-box {
    box-sizing: border-box;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    background-color: #7f7f7f;
}

.main-content-title {
    position: relative;
    color: white;
    font-size: 40px;
}
.main-content-title-desc {
    position: relative;
    color: white;
    font-size: 25px;
}

.main-content-desc {
    position: relative;
    color: white;
    padding: 0px;
    background-color: #9f9f9f;
    font-size: 20px;
}

.main-content-button {
    position: relative;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    border: 2px solid white;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    background-color:#06c506;
}

.game-info {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: [game-col] 6fr [side-info] 1fr;
    grid-template-rows: [top-info] 1fr [game-row] 6fr [footer] 1fr;
    grid-template-areas:
      "top-info top-info"
      "game side-info"
      "next next"
}

.game-title {
    position: relative;
    grid-area: top-info;
}

.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: game;
}

.game-side-info {
    position: relative;
    grid-area: side-info;
}

.game-next {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-area: next;
}

.inside-box {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    border: 2px solid white;
}

.main-content-progress {
    position: relative;
    display: flex;
    width: 100%;
    color: grey;
}

/* FOOTER CONTENT */
.main-footer {
    background-color: #003b88;
    border-radius: 10px;
    grid-area: footer;
}

