<!DOCTYPE html>
<html>
<head>
  <title>Basic Security for Dummies - Module 1</title>
  <link rel="stylesheet" type="text/css" href="/static/module.css">
  <script type="text/javascript" src="/static/main.js"></script>
</head>
<body class="main-grid-container" onload="prepMod()">
    <div class="main-header-content">
      <div class="text main-title-text">Module 1 - Perceptions of Security</div>
    </div>
    <div class='sidebar'>
        <div class="text" style="font-size:30px;color:white;">Contents</div>
        <div class="text" style="font-size:15px;color:white;">
            <ul>
                <li id='1'>Introduction</li>
                <br>
                <li id='2'>Perceptions vs Reality</li>
                <br>
                <li id='3'>What is an attacker? A defender?</li>
                <br>
                <li id='4'>Breaking into a castle - Rules</li>
                <br>
                <li id='5'>Breaking into a castle - Attacker</li>
                <br>
                <li id='6'>Breaking into a castle - Defender</li>
                <br>
                <li id='7'>Conclusion</li>
            </ul>
        </div>
      </div>
    <div class='main-content'>
        <!--PAGE 1-->
        <div class="main-content-box mod1-page">
          <div class='text main-content-title'>Introduction</div>
          <div class='text main-content-title-desc'>So... what is security? What is this all about?</div>
          <div class='text main-content-desc'>
              <div></div>
          </div>
          <br>
          <div class='text main-content-button' onclick='nextPage()'>Next</div>
          <br>
          <br>
        </div>
        <!--PAGE 2-->
        <div class="main-content-box mod1-page">
            <div class='text main-content-title'>Perceptions vs Reality</div>
            <div class='text main-content-title-desc'>How much do I know about security from everyday knowledge? How wrong are the movies?</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 3-->
        <div class="main-content-box mod1-page">
            <div class='text main-content-title'>What is an attacker? Defender?</div>
            <div class='text main-content-title-desc'>Of course you know the meaning of these two words... but what are these two entities looking for? What are their goals?</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 4-->
        <div class="main-content-box mod1-page">
            <div class='text main-content-title'>Breaking into the castle - Rules</div>
            <div class='text main-content-title-desc'>Here's a little game to help make things a little more clear.</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 5-->
        <div class="main-content-box mod1-page">
            <div class='text main-content-title'>Breaking into the castle - Attacker</div>
            <div class='text main-content-title-desc'></div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 6-->
        <div class="main-content-box mod1-page">
            <div class='text main-content-title'>Breaking into the castle - Defender</div>
            <div class='text main-content-title-desc'></div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Finish</div>
            <br>
            <br>
          </div>
        <!--PAGE 7-->
        <div class="main-content-box mod1-page">
            <div class='text main-content-title'>Conclusion</div>
            <div class='text main-content-title-desc'>Well done! You now (hopefully) have a better idea of the fundamentals of security!</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button'>Next</div>
            <br>
            <br>
          </div>
        
    </div>
    <div class="main-footer">
    </div>
  </body>