<!DOCTYPE html>
<html>
<head>
  <title>Basic Security for Dummies - Module 2</title>
  <link rel="stylesheet" type="text/css" href="/static/module.css">
  <script type="text/javascript" src="/static/main.js"></script>
</head>
<body class="main-grid-container" onload="prepMod()">
    <div class="main-header-content">
      <div class="text main-title-text">Module 2 - Human Weaknesses and Risks</div>
    </div>
    <div class='sidebar'>
        <div class="text" style="font-size:30px;color:white;">Contents</div>
        <div class="text" style="font-size:15px;color:white;">
            <ul>
                <li id='1'>Introduction</li>
                <br>
                <li id='2'>Defending against the inside</li>
                <br>
                <li id='3'>Why do we need to?</li>
                <br>
                <li id='4'>Assessing risks</li>
                <br>
                <li id='5'>Definitely not a gambling game - Rules</li>
                <br>
                <li id='6'>Definitely not a gambling game</li>
                <br>
                <li id='7'>Conclusion</li>
            </ul>
        </div>
      </div>
    <div class='main-content'>
        <!--PAGE 1-->
        <div class="main-content-box mod2-page">
          <div class='text main-content-title'>Introduction</div>
          <div class='text main-content-title-desc'>As people, it's natural to make mistakes. How does this affect the security world?</div>
          <div class='text main-content-desc'>
              <div></div>
          </div>
          <br>
          <div class='text main-content-button' onclick='nextPage()'>Next</div>
          <br>
          <br>
        </div>
        <!--PAGE 2-->
        <div class="main-content-box mod2-page">
            <div class='text main-content-title'>Defending against the inside</div>
            <div class='text main-content-title-desc'>People can have GREAT security against hackers. But what if someone freely gives them information?</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 3-->
        <div class="main-content-box mod2-page">
            <div class='text main-content-title'>Why do we need to?</div>
            <div class='text main-content-title-desc'>Why do insiders do what they do? What are their possible motivations?</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 4-->
        <div class="main-content-box mod2-page">
            <div class='text main-content-title'>Assessing Risks</div>
            <div class='text main-content-title-desc'>We need to always be able to assess risks, to decide how well to prepare against them.</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 5-->
        <div class="main-content-box mod2-page">
            <div class='text main-content-title'>Definitely not a gambling game - Rules</div>
            <div class='text main-content-title-desc'></div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Next</div>
            <br>
            <br>
          </div>
        <!--PAGE 6-->
        <div class="main-content-box mod2-page">
            <div class='text main-content-title'>Definitely not a gambling game</div>
            <div class='text main-content-title-desc'></div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button' onclick='nextPage()'>Finish</div>
            <br>
            <br>
          </div>
        <!--PAGE 7-->
        <div class="main-content-box mod2-page">
            <div class='text main-content-title'>Conclusion</div>
            <div class='text main-content-title-desc'>Well done! You now (hopefully) have a better idea of the fundamentals of security!</div>
            <div class='text main-content-desc'>
                <div></div>
            </div>
            <br>
            <div class='text main-content-button'>Next</div>
            <br>
            <br>
          </div>
        
    </div>
    <div class="main-footer">
    </div>
  </body>